
span {
    margin: 5px;
}

.unit {
    width: 90%;
    margin: auto;
}

.unitText input {
    width: 500px;
}

#textAdd {
    width: 500px;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    color: #999;
}

.unitNumber input {
    text-align: center;
    width: 25px;
}

#numAdd {
    text-align: center;
    width: 30px;
}

.unitType {

}

.btnAdd {

}