
span {
    margin: 5px;
}

.unit, #forAdd {
    width: 90%;
    margin: 10px auto;
}

#unitList {
    width: 90%;
    margin: auto;
}

.unit {
    padding: 5px 0;
    border: #EEE 2px groove;
}

.unitText input {
    width: 500px;
}

#textAdd {
    width: 70%;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    color: #999;
}

.unitNumber input {
    text-align: center;
    width: 25px;
}

#numAdd {
    text-align: center;
    width: 15%;
}

.btnAdd {
    
}